body{
    background-image: url('https://static.vecteezy.com/system/resources/previews/003/641/130/original/colorful-pink-blurred-backgrounds-valentine-s-day-pink-background-abstract-gradient-light-pink-illustration-free-vector.jpg');
    font-family: 'popins', sans-serif;
}

header{
    padding: 2rem 2rem 0rem;
}
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
.wrapper h1{
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
}
.project{
    display:flex;
}
.shop{
    flex: 75%;
}
.box{
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 10px;
}
.box:hover{
    box-shadow: 5px 15px 25px rgba(128, 0, 128, 0.7); /* Purple shadow with 70% opacity */
    transform: scale(1.02);
}
.box img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.content{
    padding: 20px;
    position: relative;
    width: 100%;
}
.content h3{
    margin-bottom: 30px;
}
.content h4{
    margin-bottom:50px;
}
.bttn {
    background-color: orchid;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 25px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.bttn:hover {
    background-color: #76bfb6;
}

.unit input{
    width: 50px;
    padding: 8px;
    text-align: center;
}

.right-bar{
    flex: 25%;
    margin-left: 20px;
    padding: 20px;
    height: 400px;
    border-radius: 5px;
    background: #fff;
}
.right-bar hr{
    margin-bottom: 25px;
}
.right-bar p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}
.right-bar a{
    background-color: orchid;
    color: #fff;
    display: block;
    height:40px;
    line-height: 40px;
    font-weight: 900;
}
.right-bar a:hover{
    background-color: #397ca7;
}
.return {
    display: inline-block;
    padding: 10px 20px;
    background-color: orchid;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}